/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(135deg, #f8f9fa, #e3f2fd);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border-radius: 1rem;
}

.card-header {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}
